.movie-container{
    width: 1000px;
    margin: 0 auto;
    .top{
        display: flex;
        .left{
            width: 400px;
            .name{
                font-size: 25px;
                font-weight: bold;
            }
            .rating{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .rating-value{
                    margin-left: 20px;
                    font-weight: bold;
                }
            }
            .cover{
                width: 300px;
                height: 350px;
                margin-right: 50px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .right{
            width: 600px;
            padding-top: 40px;
            .title{
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: bold;
            }
            .rating-form{
                
                .form-group{
                    margin-top: 10px;
                }
                label{
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                input{
                    border: 2px solid grey;
                }
                textarea{
                    resize: none;
                    border: 2px solid grey;
                }
            }
        }
    }
    .bottom{
        margin-top: 50px;
        .title{
            margin-bottom: 30px;
        }
        .reviews{
            width: 1000px;
            .review{
                margin-bottom: 25px;
                background-color: #f1f1f1;
                padding: 20px;
                border-radius: 5px;
                .review-details{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .review-left{
                        .author{
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .author-dt{
                            opacity: 0.7;
                        }
                    }
                    .review-right{
                        .rating{
                            display: flex;
                            align-items: center;
                            .rating-value{
                                margin-left: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}
